# SET

In [2]:
set=(1,2,3,4,5)
print(set)

(1, 2, 3, 4, 5)

# looping through a set

In [9]:
x=("red", "blue", "green")
print(x)

('red', 'blue', 'green')

# check if an item is in a set (set membership)

In [18]:
x=(1,2,3,4,5,6,7)
print(3 in x)
print(10 in x)

True
False

In [41]:
myset=(1,2,3,4,5,7)
myset

(1, 2, 3, 4, 5, 7)

In [43]:
len(myset)

6

In [47]:
myset={1,1,2,3,4,5,6,7}                  #duplicate elements are not allowed 
myset

{1, 2, 3, 4, 5, 6, 7}

In [49]:
myset={2.35,5.43,32.9,21.8}        #float numbers
myset

{2.35, 5.43, 21.8, 32.9}

In [53]:
myset={'tinu','rita','daniel','wumi'}  #stringsm
myset

{'daniel', 'rita', 'tinu', 'wumi'}

In [59]:
myset={10,20,30,'tinu', (11,22,45,67)}   #mixed datatypes
myset

{(11, 22, 45, 67), 10, 20, 30, 'tinu'}

# loop through a set

In [78]:
myset={'tinu','rotimi','glory'}
for item in myset:
    print(item)

rotimi
glory
tinu

In [80]:
myset={1,2,3,4,5,6,7,8,9}
for item in myset:
    print(item)

1
2
3
4
5
6
7
8
9

# set membership

In [83]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [85]:
1 in myset #check if 1 exist

True

In [87]:
10 in myset # check if 10 exist

False

# set add

In [98]:
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [100]:
myset.add(10)   #add 10
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [104]:
myset.update([11,12,13,14]) #add multiple figures
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [106]:
myset.remove(6) #remove elements from the set
myset

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14}

In [108]:
myset.discard(7) #remove elements from the set
myset

{1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14}

In [110]:
myset.clear()
myset

set()

# set operations

# Union ( combine all elements from both set)

In [114]:
a={1,2,3,4,5,6}
b={7,8,9,10}
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [116]:
a={1,2,3,4,5,6}
b={7,8,9,10}
c={11,12,23,14,15}
print(a|b|c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 23}

In [120]:
a={1,2,3,4,5,6}
b={7,8,9,10}
c={11,12,23,14,15}
d={16,17,18,19,20,21,22}
print(a|b|c|d)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23}

# intersection ( finds common elements between two sets)

In [125]:
a={1,2,3,4,5,6}
b={5,7,8,9,10}
print(a&b)

{5}

In [129]:
a={1,2,3,4,5,6,7}
b={5,6,7,8,9,10}
print(a&b)

{5, 6, 7}

# difference ( in A but not in B)

In [132]:
a={1,2,3,4,5,6}
b={7,8,9,10}
print(a-b)

{1, 2, 3, 4, 5, 6}

In [114]:
a={1,2,3,4,5,6}
b={7,8,9,10}
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# symmetric difference (in either set but not in both)

In [137]:
a={1,2,3,4,5,6}
b={7,8,9,10}
print(a^b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

a={1,2,3,4,5,6}
b={5,6,7,8,9,10}
print(a^b)

# subset(check if all elements of a exist in b)

In [145]:
a={1,2,3,4,5,6}
b={7,8,9,10}
print(a<=b)

False

In [147]:
a={1,2,3}
b={1,2,3,7,8,9,10}
print(a<=b)

True

# superset ( check if all elements of b exist in a)

In [152]:
a={1,2,3,4,5,6}
b={1,2,3}
print(a>=b)

True

In [154]:
a={1,2,3,4,5,6}
b={7,8,9,10}
print(a>=b)

False

# disjoint ( check if set has no common element)

In [164]:
a={1,2,3,4,5,6}
b={7,8,9,10}
print(a.isdisjoint(b))

True

In [169]:
a={1,2,3,4,5,6}
b={1,2,7,8,9,10}
print(a.isdisjoint(b))

False